<section class="noAutorizado">
  <div class="container login nonono">
    <h1 class="red">Error getting product information</h1>
    <h1>Or the product does not exist!</h1>
    <a href="/" class="btn btn-danger">Go Home</a>
  </div>
</section>