<div class="container text-center index_div">
  <h1>The Product with ID: {{itemId}}</h1>
  <h1>Corresponding to Cart with ID: {{cartId}}</h1>
  <h2>¡Has been deleted!</h2>
  <a href="/carts" class="btn btn-primary">Go to the cart</a>
</div>