<div class="container text-center index_div">
    <h1>The Product with ID: {{this.producto._id}}</h1>
    <h1>Called {{this.producto.title}}</h1>
    <h2>¡Has been modified!</h2>
    <a href="/productstable" class="btn btn-primary">Go back</a>
</div>
