<div class="container text-center index_div">
  <h1>The product with ID: {{this.product._id}}</h1>
  <h1>Called {{this.product.title}}</h1>
  <h2>¡Has been removed!</h2>
  <a href="/productstable" class="btn btn-primary">Go back</a>
</div>