
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/sweetalert2.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins/ext-component-sweet-alerts.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins/form-validation.css">
    <!-- END: Page CSS-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                    <a class="navbar-brand" href="/">
                        <span class="brand-logo">
                            <svg viewbox="0 0 139 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24">
                                <defs>
                                    <lineargradient id="linearGradient-1" x1="100%" y1="10.5120544%" x2="50%" y2="89.4879456%">
                                        <stop stop-color="#000000" offset="0%"></stop>
                                        <stop stop-color="#FFFFFF" offset="100%"></stop>
                                    </lineargradient>
                                    <lineargradient id="linearGradient-2" x1="64.0437835%" y1="46.3276743%" x2="37.373316%" y2="100%">
                                        <stop stop-color="#EEEEEE" stop-opacity="0" offset="0%"></stop>
                                            <stop stop-color="#FFFFFF" offset="100%"></stop>
                                    </lineargradient>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Artboard" transform="translate(-400.000000, -178.000000)">
                                        <g id="Group" transform="translate(400.000000, 178.000000)">
                                            <path class="text-primary" id="Path" d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z" style="fill:currentColor"></path>
                                            <path id="Path1" d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z" fill="url(#linearGradient-1)" opacity="0.2"></path>
                                            <polygon id="Path-2" fill="#000000" opacity="0.049999997" points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"></polygon>
                                            <polygon id="Path-21" fill="#000000" opacity="0.099999994" points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"></polygon>
                                            <polygon id="Path-3" fill="url(#linearGradient-2)" opacity="0.099999994" points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <h2 class="brand-text">7 Rayos</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                        <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
                        <i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i>
                    </a>
                </li>   
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/">
                        <i data-feather='zap'></i>
                        <span class="menu-title text-truncate" >Home</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="d-flex align-items-center" href="/">
                                <i data-feather='corner-down-right'></i>
                                <span class="menu-item text-truncate" >¿quiénes somos?</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="/">
                                <i data-feather='corner-down-right'></i>
                                <span class="menu-item text-truncate" >¿para qué?</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="/">
                                <i data-feather='corner-down-right'></i>
                                <span class="menu-item text-truncate" >¿cómo?</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" navigation-header">
                    <span data-i18n="Apps &amp; Pages">Hierbas</span>
                    <i data-feather="more-horizontal"></i>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/products">
                        <i data-feather='feather'></i>
                        <span class="menu-title text-truncate" >Medicinales</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/products">
                        <i data-feather='codepen'></i>
                        <span class="menu-title text-truncate" >Aromáticas</span>
                    </a>
                </li>
                <li class=" navigation-header">
                    <span data-i18n="Apps &amp; Pages">Productos</span>
                    <i data-feather="more-horizontal"></i>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/products?category=Aceite+escencial">
                        <i data-feather='droplet'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Aceites esenciales</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/products?category=Brumas">
                        <i data-feather='activity'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Brumas</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/products?category=Sahumos">
                        <i data-feather='loader'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Sáhumos</span>
                    </a>
                </li>
                <li class=" navigation-header">
                    <span data-i18n="Apps &amp; Pages">Club 7 Rayos</span>
                    <i data-feather="more-horizontal"></i>
                </li>
                {{#if user.role}}
                {{#ifEqual user.role "admin"}}
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/admin-panel">
                        <i data-feather='award'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Panel Administrador</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/docs-api">
                        <i data-feather="folder"></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Documentation</span>
                    </a>
                </li>
                {{/ifEqual}}
                {{/if}}
                {{#if user}}
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/users/premium/{{user.userId}}">
                        <i data-feather='gift'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Beneficios</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/logout">
                        <i data-feather='log-out'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Logout</span>
                    </a>
                </li>
                {{else}}
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/auth/register">
                        <i data-feather='user-plus'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Registrate</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="/auth/login">
                        <i data-feather='log-in'></i>
                        <span class="menu-title text-truncate" data-i18n="Typography">Login</span>
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->  

    
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">User Edit</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="/admin-panel">Admin Panel</a>
                                    </li>
                                    <li class="breadcrumb-item active">User ID: {{ user._id }}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <!-- profile -->
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title">Create New User</h4>
                            </div>
                            <div class="card-body py-2 my-25">

                                <!-- form -->
                                <form action="/users/user-new" method="POST" class="validate-form mt-2 pt-50">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="first_name">First Name</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="John" data-msg="Please enter the first name" />
                                        </div>
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="last_name">Last Name</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Sánchez" data-msg="Please enter the last name" />
                                        </div>
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="johnsanchez@mail.com" data-msg="Please enter the email" />
                                        </div>
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="role">Role</label>
                                            <select id="role" name="role" class="select2 form-select">
                                                <option value="">Select</option>
                                                <option value="admin">Admin</option>
                                                <option value="user" selected>User</option>
                                            </select>                                        
                                        </div>
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="phone">Phone Number</label>
                                            <input type="text" class="form-control account-number-mask" id="phone" name="phone" placeholder="1136415974" data-msg="Please enter the phone" />
                                        </div>
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="age">Age</label>
                                            <input type="text" class="form-control" id="age" name="age" value="33" data-msg="Please enter the age" />
                                        </div>
                                        <div class="col-12 col-sm-6 mb-1">
                                            <label class="form-label" for="category">Role</label>
                                            <select id="category" name="premium" class="select2 form-select">
                                                <option value="">Select</option>
                                                <option value="true">Premium</option>
                                                <option value="false" selected>Basic</option>
                                            </select>                                        
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary mt-1 me-1">Save User</button>
                                            <button type="reset" class="btn btn-outline-secondary mt-1">Discard</button>
                                        </div>
                                    </div>
                                </form>
                                <!--/ form -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0">
            <span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2023
                <a class="ms-25" href="#" target="_blank">Lucí digital</a>
                <span class="d-none d-sm-inline-block">, All rights Reserved</span>
            </span>
            <span class="float-md-end d-none d-md-block">Hand-crafted &amp; made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->
        
    <!-- BEGIN: Page Vendor JS-->
    <script src="/assets/vendors/js/select2.full.min.js"></script>
    <script src="/assets/vendors/js/sweetalert2.all.min.js"></script>
    <script src="/assets/vendors/js/jquery.validate.min.js"></script>
    <script src="/assets/vendors/js/cleave.min.js"></script>
    <script src="/assets/vendors/js/cleave-phone.ar.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="/assets/js/scripts/page-account-settings-account.js"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->
