<section class="noAutorizado">
  <div class="container login nonono">
    <h1 class="red">The user {{user.first_name}} {{user.last_name}} </h1>
    <h1 class="user-eliminado"><span>with ID: {{user._id}}</span> </h1>
    <h1>Has been deleted!</h1>
    <a href="/users" class="btn btn-danger">Go back</a>
  </div>
</section>