<section class="noAutorizado">
  <div class="container login nonono">
    <h1 class="red">You are not authorized to enter this page.</h1>
    <h1> ¡Must have administrator level!</h1>
    <a href="/" class="btn btn-danger">Go home</a>
  </div>
</section>