<section class="noAutorizado">
  <div class="container login nonono">
    <h1 class="red">Hi
      {{user.first_name}}
      {{user.last_name}}
      {{user.user.first_name}}</h1>
    <h1>¡You have no products in the Cart!</h1>
    <h1> ¡Make a purchase!</h1>
    <a href="/products" class="btn btn-danger">Go shopping</a>
  </div>
</section>