<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Error when trying to buy {{ this.title }}!</h1>        
        <h1>There is not enough stock to make the purchase</h1>
        <a href="/" class="btn btn-danger">Go home</a>
    </div>
</section>