<section class="noAutorizado">
  <div class="container login nonono">
    <h1 class="red">The user with that phone already exists!</h1>
    <h1> ¡Try again!</h1>
    <a href="/auth/register" class="btn btn-primary">Go to sign-up</a>
  </div>
</section>