<section class="noAutorizado">
  <div class="container login nonono">
    <h1 class="red">The passwords do not match</h1>
    <h1> ¡Try again!</h1>
    <a href="/auth/register" class="btn btn-danger">Go to sign-up</a>
  </div>
</section>