<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
        <meta name="description" content="Los 7 Rayos is an esoteric virtual store that provides knowledge, workshops, history and accompanies anyone who is going through their personal spiritual self-knowledge.">
        <meta name="keywords" content="Los 7 Rayos, estorerísmo, talleres de sueño, cursos de tarot, blog del uso de cristales, botánica oculta, magia defensiva, hongos sagrados, web app">
        <meta name="author" content="Gastón Guevara">

        <title>Los Siete Rayos</title>

        <link rel="rayo-icon" href="/assets/icons/lightning.svg">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/icons/lightning.png">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">
        
        <title>{{ title }}</title>

        {{!-- Bootstrap connection --}}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <link rel="stylesheet" href="/assets/styles/{{ style }}.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="/assets/icons/lightning.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                <a class="navbar-brand" href="/">Los Siete Rayos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navba  r-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/products">Products</a>
                        <a class="nav-link{{#ifEqual cart.length 0}} disabled{{/ifEqual}}" href="/carts">Cart</a>
                        {{#if user.role}}
                        {{#ifEqual user.role "admin"}}
                        <a class="nav-link" href="/admin-panel">Administrator Dashboard</a>
                        <a class="nav-link disabled" aria-disabled="true" href="/docs">Document API by Swagger</a>
                        {{/ifEqual}}
                        {{/if}}
                        {{#if user}}
                        <a class="nav-link red" href="/logout">Logout</a>
                        {{else}}
                        <a class="nav-link" href="/login">Login</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>

        {{{ body }}}


        <div id="history"></div>

        {{!-- Bootstrap connection --}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const spanAnio = document.getElementById("anio");
                const fechaActual = new Date();
                const anioActual = fechaActual.getFullYear();
                spanAnio.textContent = anioActual;
            });
        </script>
    </body>

</html>